DATABASE_URL="file:./dev.db"

AUTH_SECRET="replace-with-openssl-rand-base64-32"
PII_ENCRYPTION_KEY="replace-with-openssl-rand-base64-32"

AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""

ADMIN_EMAIL="admin@example.com"

NEXT_PUBLIC_BASE_URL="http://localhost:3000"
